.book_details {

	.book_intro {
		background: white;
		width: calc( 100% - 40px );
		height: 310px;
		padding: 20px;
		display: flex;
		.book_img {
			width: 250px;
			height: 100%;
			border: 1px solid black; 
		}
	}
}