#author {
	margin-top: 20px;
	padding: 10px 0;
	background: white;

	.upper {
		width: 95%;
		margin:0 auto;
		height: 200px;
		display: flex;
		align-items: center;
		justify-content: space-between;	

		.icon {
			width: 100px;
			height: 80%;
			margin-right: 20px;

			img {
				width: 100px;
				height: 100px;
				border:1px solid black;
			}
		}

		.infor {
			width: calc(100% - 120px);
			height: 80%;

			.inf_bd {
				width: 100%;
				height: 100px;
				border-bottom: 1px solid lightgray;
				p {
					border: none;
				}
			}

			p {
				height: 40px;
				border-bottom: 1px solid lightgray;
			}
		}
	}
	.show {
		width: 95%;
		margin:0 auto;
		height: auto;
		padding: 20px 0;
		display: flex;
		justify-content: space-between;

		.lf_slider {
			width: calc( 100% - 320px);
			height: 300px;
			border: 1px solid black;
		}

		.rt_slider {
			width:  300px;
			height: 400px;
			border: 1px solid black;
		}
	}
}