@media screen{
	.member {
		padding: 40px 0 20px 0;
		height: 1100px;
		background: white;

		.inner_box {
			width: 90%;
			height: 100%;
			margin: 0 auto;
			
			.box_cover {
				width: 100%;
				height: 100%;
				position: fixed;
				background: rgba(0,0,0,0.3);
				top: 0;
				right: 0;
				z-index: 10000;
				display: flex;
				justify-content: center;
				align-items: center;

				.box_bd {
					width: 400px;
					height: 540px;
					position:relative;
					background: white;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					
					p, h2 {
						margin:5px;
						font-weight: 1;
					}
					
					.box_img {
						width: 220px;
						height: 220px;
						margin:20px;
						display: flex;
						justify-content: center;
						align-items: center;
						overflow: hidden;
						background-color: rgb(244,244,244);
	
						#inner {
							width: 160px;
							height: 160px;
							background: white;
							position: relative;
							overflow: hidden;
							canvas {
								position: absolute;
							}
						}
					}
					

					.box_line {
						width: 250px;
						height: 50px;
						display: flex;
						align-items: center;
						.line {
							width: 100%;
							border-bottom: 4px solid rgb(244,244,244);
							position: relative;
							
							#circle {
								width: 12px;
								height: 12px;
								background: lightgray;
								position: absolute;
								top: -4px;
								border-radius: 50%;
							}
						}

					}

					.btn {
						width: 215px;
						height: 40px;
						border-radius: 3px;
						background: #26a69a;
						line-height: 40px;
						text-align: center;
						color: white;
						margin-top: 10px;
					}

					.box_close {
						width: 30px;
						height: 30px;
						top:0;
						right: -50px;
						position: absolute;
						background: url('../../imgs/icons/close.png') no-repeat;
						background-position: center;
						background-size: 100% auto;
					}
				}
			}

			.box_header {
				width: 100%;
				height: 200px;
				position: relative;
				display: flex;
				justify-content: space-between;
				
				.change_icon {
					width: 40px;
					height: 40px;
					position: absolute;
					top: -10px;
					right: -10px;
					background: url('../../imgs/icons/change.png') no-repeat;
					background-size: auto 80%;
					background-position: center;
					a {
						width: 100%;
						height: 100%;
						display: block;
					}
				}

				.save_icon {
					.change_icon();
					background: url('../../imgs/icons/save.png') no-repeat;
					background-size: auto 80%;
					background-position: center;
				}

				.avater {
					width: 140px;
					padding: 5px;
					height: 140px;
					position: relative;
					img {
						width: 100%;
						height: 100%;
						display: block;
						position: absolute;
						top: 0;
						right: 0;
					}
						
					.cover {
						width: 100%;
						height: 100%;
						background: rgba(0,0,0,0.2);
						position: absolute;
						top: 0;
						right: 0;
						color:white;
						text-align: center;
						line-height: 120px;
						font-size: 16px;

						p {
							position: absolute;
							width: 100%;
							height: 100%;
						}
					}
					input {
						width: 100%;
						height: 100%;
						display: block;
						opacity: 0;
						z-index: 9999;
					}
				}


				.box_infor {
					width: calc( 100% - 190px);
					height: 100%;

					.name {
						margin: 0;
						width: 80%;
						height: 60px;
						line-height: 60px;
						font-size: 38px;
					}

					.sign {
						height: 40px;
					    width: 100%;
					    line-height: 40px;
					    font-size: 17px;
					    white-space: nowrap;
					    -o-text-overflow: ellipsis;
					    text-overflow: ellipsis;
					    overflow: hidden;
					    margin: 0;
					}

					.id {
						height: 40px;
					    width: 100%;
					    line-height: 40px;
					    font-size: 16px;
					    color: gray;
					    border-bottom: 1px solid beige;
					    white-space: nowrap;
					    -o-text-overflow: ellipsis;
					    text-overflow: ellipsis;
					    overflow: hidden;
					    margin: 0;
					}

					input {
						padding: 0;
						text-indent: 10px;
						outline: none;
					}
				}

			}


			.box_cards {
				width: 100%;
				height: 160px;
				display: flex;
				justify-content: space-between;

				.card {
					width: 30%;
					height: 100%;
					box-shadow: 1px 1px 5px black;
					position: relative;
					overflow: hidden;
					
					.card_cvr {
						position: absolute;
						width: 100%;
						height: 200%;
						top:0;
						transition:top .5s;
						-moz-transition:top .5s; /* Firefox 4 */
						-webkit-transition:top .5s; /* Safari and Chrome */
						-o-transition:top .5s; /* Opera */
						transition-timing-function: ease-in-out;
						&:hover {
							top:-100%;
						}

						.uper {
							width: 100%;
							height: 50%;
							p {
								margin-top: -20px;
								text-align: center;
								color: #26a69a;
							}

							.icon {
								width: 100%;
								height: 120px;
							}

							.prod {
								background: url('../../imgs/icons/zuopin.png') no-repeat;
								background-position: center;
								background-size: auto 45%;
							}

							.focs {
								background: url('../../imgs/icons/foc.png') no-repeat;
								background-position: center;
								background-size: auto 45%;
							}

							.fans {
								background: url('../../imgs/icons/fans.png') no-repeat;
								background-position: center;
								background-size: auto 45%;
							}
						}

						.num {
							width: 100%;
							height: 50%;
							font-size: 25px;
							text-align: center;
							line-height: 160px;
							color: #26a69a;
						}
					}

				}

				.following {
					background: #ffdbe5;
				}

				.followers {
					background: #a6a4d9;	
				}

				.experience {
					background: #fcd7aa;
				}
			}

			.box_works {
				margin-top: 40px;
				width: 100%;
				border-top: 1px solid black;
				padding-top: 15px;
				.works_header {
					width: 300px;
					height: 40px;
					line-height: 40px;
					text-indent: 5px;
					letter-spacing: 5px;
				}
				.works_lists {
					width: 100%;

					.list_item {
						width: 100%;
						height: 40px;
						border: 1px solid black;
						margin-bottom: 20px;
					}
				}
			}
		}
	}	

	@media (max-width: 1000px) {
		.member {
			min-width: 600px;
			margin-left: 20px;
			height: auto;
			.inner_box {
				height: auto;
				.box_header {
					height: 150px;
					.avater {
						width: 100px;
						height: 100px;
					}

					.box_infor {
						width: calc( 100% - 140px);
						height: 100%;

						.name {
							margin: 0;
							width: 80%;
							height: 40px;
							line-height: 40px;
							font-size: 30px;
						}

						.sign {
							.name();
							height: 25px;
							width: 100%;
							line-height: 25px;
							font-size: 15px;
							white-space: nowrap;
							text-overflow: ellipsis;
							overflow: hidden;
							margin:0;
						}

						.id {
							.sign();
							margin: 0;
						}

						input {
							padding: 0;
							text-indent: 10px;
							outline: none;
						}
					}
				}

				.box_cards {
					height: 130px;
				}

				.box_works {
					margin-top: 20px;
					.works_header {
						height:30px;
						margin:0;
						margin-bottom: 20px;
						font-size: 20px;
					}
				}
			}

		}
	}
}
